<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd"
    colors="true"
    cacheDirectory=".phpunit.cache">
    <coverage>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </coverage>
    <testsuites>
        <testsuite name="default">
            <directory suffix=".php">./tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="CLOUDFLARE_IMAGES_ACCOUNT_ID" value="CLOUDFLARE_IMAGES_ACCOUNT_ID"/>
        <env name="CLOUDFLARE_IMAGES_API_TOKEN" value="CLOUDFLARE_IMAGES_API_TOKEN"/>
        <env name="CLOUDFLARE_IMAGES_SIGNING_KEY" value="CLOUDFLARE_IMAGES_SIGNING_KEY"/>
    </php>
</phpunit>
